<div class="container panel">
	<div class="spacer"></div>
	<div class="row">
		<div class="span10 offset1">
			<div class="well">
				<p id="account-error">
					This course is not available on the iPad.<br/><br/>
					Contact your trainer <a href="mailto:<%=errorViewModel.email%>"><%=errorViewModel.email%></a> for more information.
				</p>
			</div>
		</div>
	</div>
</div>
