
	<div class="spacer"></div>
	<h2 class="text-center">Forgot password</h2>

	<!-- Panel -->
	<div class="row">
		<div class="span10 offset1">
			<div class="well">
				<div class="row-fluid">
					<div class="span8">
						<form class="container registration panel form" method="post" id="form">

						<!-- Email -->
						<div class="controls controls-row">
							<div class="span6 control-group <% formErrorClass(errors.email) %>">
								<label class="control-label" for="email">Email </label>							
								<input type="text" id="email" name="email" value="<%=email%>">
								<% errorDescription(errors.email) %>
							</div>
						</div>

						<!-- Submit -->
						<div class="register-button-box">
							<div class="controls controls-row">
							<br />
							<button type="submit" class="btn btn-primary">Send</button>
							</div>
						</div>
						
						</form>
						<% successDescription(success) %>
					</div>
				</div>
			</div>
		</div>

	</div>

<% function formErrorClass(errorName) { %>
	<%=errorName ? 'error' : ''%>
<% } %>

<% function errorDescription(errorName) { %>
	<% if (errorName) { %>
	<div class="error-required">*<%=errorName%></div>
<% }} %>

<% function successDescription(msg) { %>
	<% if (msg) { %>
	<h1><%=msg%></h1>
<% }} %>