<form class="container registration panel form" method="post" id="form">
	<div class="spacer"></div>
	<h2 class="text-center">Set your password</h2>

	<!-- Panel -->
	<div class="row">
		<div class="span10 offset1">
			<div class="well">
				<div class="row-fluid">
					<div class="span8">

						<!-- Password -->
						<div class="controls controls-row">
							<div class="span6 control-group <% formErrorClass(errors.password) %>">
								<label class="control-label" for="password">
									Password </label>
								<input type="password" id="password" name="password" value="<%=password%>">
								<%	errorDescription(errors.password) %>
							</div>
							<br />
							<div class="span6 control-group <% formErrorClass(errors.passwordConfirm) %>">
								<label class="control-label" for="passwordConfirm">
									Confirm Password </label>
								<input type="password" id="passwordConfirm" name="passwordConfirm"
									   value="<%=passwordConfirm%>"><% errorDescription(errors.passwordConfirm) %>
							</div>
						</div>
							<br />
						<!-- Submit -->
						<div class="register-button-box">
							<button type="submit" class="btn btn-primary">Save</button>&nbsp;
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<% function formErrorClass(errorName) { %>
	<%=errorName ? 'error' : ''%>
<% } %>

<% function errorDescription(errorName) { %>
	<% if (errorName) { %>
<div class="error-required">*<%=errorName%></div>
<% }} %>