	<div class="spacer"></div>
	<h2 class="text-center">Set your password </h2>

	<p>Sorry, your reset token expired or not valid</p>
	<p>Please <a href="/forgotpassword/">try again</a></p>
	</div>


<% function formErrorClass(errorName) { %>
	<%=errorName ? 'error' : ''%>
<% } %>

<% function errorDescription(errorName) { %>
	<% if (errorName) { %>
<div class="error-required">*<%=errorName%></div>
<% }} %>